.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.succes {
    background-color: #f04124;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-right: 30px;
}

input[type=button],
input[type=reset],
input[type=submit],
button {
    border: none;
    margin-bottom: 5px;
    margin-top: 8px;
}

#volver,
#volverpass,
#volver-compra{
 padding: 5px;
    background-color: white;
    color: black;
}

#header-modal{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #434343;
    color: white;
    text-align: center;
    padding: 3px;
}

#footer-modal{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #434343;
    color: white;
    text-align: center;
    padding: 10px;
}

.modal-body {
    padding: 5px;
}

.modal-content,
.modal-contents
{
    background-color: #f4f4f4;
    margin: 100px auto;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    text-align: center;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
