.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#header-modal{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #434343;
    color: white;
    text-align: center;
    padding: 3px;
}

#footer-modal{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #434343;
    color: white;
    text-align: center;
    padding: 10px;
}

.modal-body {
    padding: 5px;
}

.modal-content,
.modal-contents
{
    background-color: #f4f4f4;
    margin: 100px auto;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    text-align: center;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
