#modificar_c,
#modificar_p,
#modificar_usuario,
.alert,
#modificar_cliente,
#modificar_proveedor,
#form_editar{
    display: none;
}

form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
form a,
form h5 {
    float: left;
}

#consulta_cartera label {
    font-size: 15px;
    margin-top: 10px;
}

input[type=button],
input[type=reset],
input[type=submit],
button {
    border: none;
    margin-bottom: 5px;
    margin-top: 8px;
}

input[type=text],
input[type=number],
.select {
    color: black;
}

/* INPUT */
.succes {
    background-color: #f04124;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-right: 30px;
}

#label2 {
    position: absolute;
    margin-left: 300px;
}

#form_pedido table {
    width: 855px;
    margin: 15px;


}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 30px auto;
    border: 1px solid #434343;
}

table th {
    background-color: #434343;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
}

#table-ver {
    border: 1px solid red;
}

#table-ver th {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
}

table td {
    color: black;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
}

table tr:hover {
    background-color: #d4d4d4;
}

table button,
table input{
    border: none;
    font-family: arial, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: white;
}

table .modificar {
    background-color: royalblue;
}

table .detalle {
    background-color: royalblue;
}

.table-responsive {
    max-height: 300px;
}

/*Alerta menu */
.alert{
    position: absolute;
    padding-right: 55px;
    max-width: 300px;
    margin-top: 90px;
    border-radius: 15px;
    background-color: #FFF;
    color: #283896;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: none;
    z-index: 1000000;
    cursor: pointer;
}
/*alert-success*/
.alert-succes button{
    background-color: #c9460c;
    color:#FFF;
}

.alert-succes hr{
        border-color: #c9460c;
}
/**/
/*alert-warning*/
.alert-warning button{
    background-color: #E5A218;
    color:#FFF;
}

.alert-warning hr{
        border-color: #E5A218;
}
/**/
/*alert-error*/
.alert-error button{
    background-color: #FF0000;
    color:#FFF;
}

.alert-error hr{
    border-color: #FF0000;
}
/**/

.hr-alert {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 4px solid #eee;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl-alert  {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  cursor:default;
  transition: background-color 1s, color 1s;
}

.btn-float-alert{
    position: absolute;
    right:-20px;
    top:-20px;
}

.pull-right {
    position: absolute;
    right: 20px;
}

strong {
    font-size: 15px;
    text-align: center;
}
<<<<<<< HEAD

/* Radio */
input[type="radio"] {
    display: none;
}

.radio label{
    color: black;
    padding: 10px 10px 10px 30px;
    display: inline-block;
    position: relative;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0, 3s ease;
    float: left;
    margin-right: 20px;
}

.radio label:hover {
    background: rgba(251, 255, 255, 0.2);
}

.radio label:before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    background: none;
    border: 3px solid #434343;
    border-radius: 50%;
    position: absolute;
    left: 1px;
}

input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #c9460c;
    border-radius: 2px;
    color: #fff;
}

input[type="radio"]:checked + label:before {
    display: none;
}
=======
>>>>>>> origin/master
